/* This file will contain code exclusive to the Home & Coloring pages */

.header {
    font-size: 3rem;
    font-family: 'Ringbearer', sans-serif;
    color: saddlebrown;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.header-container {
    padding: 2rem;
}

.subheader {
    font-size: 2rem;
    font-family: 'Ringbearer', sans-serif;
    color: saddlebrown;
    text-align: center;
}
.subheader2 {
    font-size: 1.5rem;
    font-family: 'Ringbearer', sans-serif;
    color: saddlebrown;
    text-align: center;
    padding: 0.5rem;
}
.Shire-header {
    font-size: 4rem;
    font-family: TheShire, serif;
    color: saddlebrown;
    text-align: center;
}

.thumbnails {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Nav {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.25rem saddlebrown solid;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 70vh;
    margin: 2rem;
    overflow: scroll;
}
.NavLink {
    color: #808080;
    text-align: center;
    /*text-decoration: none;*/
    /*padding: 0 1rem;*/
    /*height: 100%;*/
    cursor: pointer;
}

img {
    margin: 0.5rem;
    border-style: inset;
    border-color: saddlebrown;
    border-width: 1rem;
}

.paletteContainer {
    display: inline-block;
    background: white;
    border-color: saddlebrown;
    border-style: inset;
    border-width: 1rem;
    margin: 2rem;
    width: 20vh;
    height: 65vh;
    overflow: scroll;
}

.eraserContainer {
    display: inline-block;
    background: white;
    border-color: saddlebrown;
    border-style: inset;
    border-width: 1rem;
    margin: 2rem;
    width: 15vh;
    height: 15vh;
}

/* Coloring pages */
.gollum {
    background: white;
    border-color: saddlebrown;
    border-style: outset;
    border-width: 1rem;
    margin: 2rem;
    width: 75vh;
    height: 65vh;
    object-fit: contain;
    text-align: center;
    /*overflow: hidden;*/
}
.theshire {
    background: white;
    border-color: saddlebrown;
    border-style: outset;
    border-width: 1rem;
    margin: 2rem;
    /*width: 75vh;*/
    height: 65vh;
    object-fit: contain;
    text-align: center;
    /*overflow: hidden;*/
}